name: Formatting Check
run-name: Running formatting check
on: [push]
jobs:
  check-formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'
      - name: Run npm install
        run: |
          mv package.json package.json.bak
          npm i --no-save prettier prettier-plugin-tailwindcss
          mv package.json.bak package.json
      - name: Run prettier
        run: |
          files=`npx prettier . -l` || st=$?
          echo status=`echo $st`>>"$GITHUB_ENV"
          echo files=`echo $files`>> "$GITHUB_ENV"
      - name: generate errors/summary
        run: .github/workflows/generateCheck.sh
